<!-- Компонент для отображения аватара пользователя в виде круга -->
<!-- *ngIf используется для проверки, что метод me() возвращает данные профиля (profile) -->
<!-- Если профиль доступен, он передается в атрибут [avatarUrl] -->
<app-avatar-circle 
  *ngIf="me() as profile" 
  class="size32" 
  [avatarUrl]="profile.avatarUrl"
>
</app-avatar-circle>

<!-- Текстовая область для ввода сообщения -->
<!-- [(ngModel)] связывает переменную postText с содержимым текстового поля -->
<!-- (input) обрабатывает события ввода текста, вызывая onTextAreaInput -->
<textarea 
  [(ngModel)]="postText"
  class="hidden-textarea"
  (input)="onTextAreaInput($event)"
>
</textarea>

<!-- Кнопка для отправки сообщения -->
<!-- (click) обрабатывает клик, вызывая метод onCreatePost -->
<button class="btn-icon" (click)="onCreatePost()">
  <!-- Иконка в формате SVG для визуализации кнопки отправки сообщения -->
  <svg icon="send-message" class="svg16">
  </svg>
</button>
